body {
    font-family: monospace;
    max-width: 40ch;
    margin: auto;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}

hr,
p {
    all: unset;
    display: block;
}

p {
    padding: 0 0;
    margin: 0 0;
}

h1,
h2,
h3 {
    margin: 10px 0;
}

hr {
    height: 1px;
    background: lightgrey;
    margin: 10px 0;
}