body {
    font-family: monospace;
    max-width: 40ch;
    margin: auto;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}

hr,
p {
    all: unset;
    display: block;
}

p {
    padding: 0 0;
    margin: 0 0;
}

h1,
h2,
h3 {
    margin: 10px 0;
}

hr {
    height: 1px;
    background: lightgrey;
    margin: 10px 0;
}

.topbar {
    position: sticky;
    top: 0;
    background: white;
    padding-top: 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.guest {
    text-align: center;
    margin-top: 2rem;
}